<!DOCTYPE html>
<html>
<head>
  <title>NarrateX</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="site-header">
    <div class="container d-flex justify-content-between align-items-center">
      <h1 class="display-5">NarrateX</h1>
      <a href="/create" class="btn btn-outline-light btn-lg">Create New Post</a>
    </div>
  </header>


